.App {
  color: #757575;
}

.App a {
  color: #00b2d3;
}

header {
  background-color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland');

.pagetitle {
  background: #00b2d3;
}
.subtitle {
  font-family: 'Mr De Haviland', cursive;
  font-size: 2.92em  ;
}

.bookings {
  background-image: url('../src/assets/images/backgrounds/winter.jpg');
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

